<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>style.css</title>
</head>
<body>
<style> h3 { color: red; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;} </style>
<style> h2{color: blue; } </style>
<style> * { font-family:Arial, Helvetica, sans-serif ;} </style>
<a link"stylesheet" href= "style.css" ></a>
</body>
<html>