<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 

.teste-box {border: 1px;  margin: 10px; padding: 10px; }

body {
    padding: 10px ;  
    font-family: Arial, Helvetica, sans-serif;
}

.imagem-flutuante {
   float: left;  
   width: 50px; 
   margin-right: 10 px ;
   margin-bottom: 10px;
   margin-left: 10px;
   margin-top: 20px;
}

.subtitulo { clear: both
}
.header {background-color: yellow;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    border: solid 1px #000;
    padding: 10px;
    font-size: 20px;

}
</body>


</nav>
</form>
    
</address>
</footer>    
</body>

</html>
